//Mixins
mixin sliderimg(imgsrc)
    .item
        .slider__item
            .xoverlay.x-simple
                img.slider__img.img-responsive.x-img-main(src=imgsrc, alt="slider-images")
                .xoverlay-box
                    .xoverlay-data
        .triangle
mixin skills(s1,s2,s3,s4)
    section.skills_bars
        span Wordpress(#{s1}%)
        progress(value=s1, max='100')
        span Python(#{s2}%)
        progress(value=s2, max='100')
        span Adobe Illustrator(#{s3}%)
        progress(value=s3, max='100')
        span Content Development(#{s4}%)
        progress(value=s4, max='100')
mixin info(name)
    .tab__name
        h3 #{name}
    .tab__post
        | Founder
    .tab__description
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque.
    .tab__social
        ul
            li
                a(href="#")
                    i.fa.fa-facebook
            li
                a(href="#")
                    i.fa.fa-twitter
            li
                a(href="#")
                    i.fa.fa-pinterest
//Main------------------------------------------------------------
.container
    .in
        .title-bl
            h2 Meat the team
        .description Be it any business you run, we can give you an exceptional branding & great marketing strategies.
        .owl__wrap
            .owl__navigation
                a.btn#owl-prev
                    img(src = "images/chevrone-left.png")
                a.btn#owl-next
                    img(src = "images/chevrone-right.png")
            #owl1.owl-carousel.owl-theme
                    +sliderimg("images/photo1.jpg")
                    +sliderimg("images/photo2.jpg")
                    +sliderimg("images/photo3.jpg")
                    +sliderimg("images/photo4.jpg")
                    +sliderimg("images/photo1.jpg")
                    +sliderimg("images/photo2.jpg")
                    +sliderimg("images/photo3.jpg")
                    +sliderimg("images/photo4.jpg")
.skills-wrapper
    .container
        #owl2.owl-carousel.owl-theme
            #tab-1.tab
                .tab__item
                    +info("John Donga111")
                .tab__item
                    +skills(99.9,95,80,45)
            #tab-2.tab
                .tab__item
                    +info("John Donga222")
                .tab__item
                    +skills(45,95,90,65)
            #tab-3.tab
                .tab__item
                    +info("John Donga333")
                .tab__item
                    +skills(55,65,90,85)
            #tab-4.tab
                .tab__item
                    +info("John Donga444")
                .tab__item
                    +skills(75,95,80,75)
            #tab-5.tab
                .tab__item
                    +info("John Donga555")
                .tab__item
                    +skills(99.9,95,80,45)
            #tab-6.tab
                .tab__item
                    +info("John Donga666")
                .tab__item
                    +skills(45,95,90,65)
            #tab-7.tab
                .tab__item
                    +info("John Donga777")
                .tab__item
                    +skills(55,65,90,85)
            #tab-8.tab
                .tab__item
                    +info("John Donga888")
                .tab__item
                    +skills(75,95,80,75)